// main: ../index.less

.welcome-text {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  height: 60px;
  margin: 0px 0px 70px 0px;
}

.welcome-text {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.content__visibility-flag:checked ~ * .welcome-text {
  animation: welcome-text_hidding 0s step-start @animation_duration forwards;
}

@keyframes welcome-text_hidding {
  from,
  to {
    visibility: hidden;
    height: 0px;
    margin: 0px;
  }
}

@media (max-width: @max-width-media) {
  .welcome-text {
    margin: 40px 0px 30px 0px;
  }
}
