// main: ../index.less

@media (e(@mobile)) {
  .main-layout {
    width: 100%;
  }
}


@media (e(@desktop)) {
  .main-layout {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    gap: 0px @main-layout-gap;
    height: 100%;
    width: @layout_width;
  }

  .main-layout__content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .content__visibility-flag:checked ~ * .main-layout {
    animation: main-layout_translate @animation_duration linear;
  }
}


@keyframes main-layout_translate {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-45vh);
  }
}
